.h1 {
    
}
.contacta img {
   width: 15px;    
}
.contacta {
    
}
.openingstijdena {
    font-weight: bolder;
    font-size: 20px;
}
.adresa {

}
.contactb img {
    width: 15px;
}
.contactb {

}
.openingstijdenb {
    font-weight: bolder;
    font-size: 20px;
}
.adresb {

}
.contactc {
    width: 15px;
}
.contactc {

}
.openingstijdenc {
    font-weight: bolder;
    font-size: 20px;
}